<div id="card" *ngIf="this.veiculoservice.veiculo">
  <img src="../../../assets/SemImagem.png" alt="imagem do veiculo">
  <div>
    <div id="infoNome">
      <strong>{{this.veiculoservice.veiculo.name}}</strong>
      <small>{{this.veiculoservice.veiculo.marca}}</small>
    </div>
    <h3>{{this.veiculoservice.veiculo.preco}}</h3>
    <section>
      <small>{{this.veiculoservice.veiculo.ano_modelo}}</small>
    </section>
  </div>
</div>

<h1 *ngIf="!this.veiculoservice.veiculo">Use o Filtro Para Listar o modelo desejado.</h1>