<aside>
  <div>
    <label for="marca">Marca</label>
    <select id="selectMarca" placeholder="Escolha uma Marca" (change)="getModelos($event.target.value)">
      <option value="" hidden selected>Selecione...</option>
      <option *ngFor="let marca of marcas" value={{marca.id}}>
        {{marca.name}}
      </option>
    </select>
  </div>
  <div>
    <label for="modelo">Modelo</label>
    <select  id="selectModelo" placeholder="Escolha um Modelo" (change)="getDetalheModelo($event.target.value)">
      <option value="" hidden selected>Selecione...</option>
      <option *ngFor="let modelo of modelos" value={{modelo.id}}>
        {{modelo.name}}
      </option>
    </select>
  </div>
  <div>
    <label for="ano">Ano</label>
    <select id="selectAno" placeholder="Escolha um Ano">
      <option value="" hidden selected>Selecione...</option>
      <option *ngFor="let ano of anos" value={{ano.id}}>
        {{ano.name}}
      </option>
    </select>
  </div>
  <!-- <div>
    <button id="pesquisar" type="button">
      PESQUISAR
    </button>
  </div> -->
</aside>